<a href="https://colab.research.google.com/github/Azizbek-Analyst/Data-analyze/blob/main/Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
import pandas as pd 
import numpy as np

In [54]:

from google.colab import files
uploaded = files.upload()

Saving Absenteeism-data.csv to Absenteeism-data (1).csv

In [55]:
for i in uploaded:
  df = pd.read_csv(i)

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         700 non-null    int64
 1   Reason for Absence         700 non-null    int64
 2   Date                       700 non-null    object
 3   Transportation Expense     700 non-null    int64
 4   Distance to Work           700 non-null    int64
 5   Age                        700 non-null    int64
 6   Daily Work Load Average    700 non-null    float64
 7   Body Mass Index            700 non-null    int64
 8   Education                  700 non-null    int64
 9   Children                   700 non-null    int64
 10  Pets                       700 non-null    int64
 11  Absenteeism Time in Hours  700 non-null    int64
dtypes: float64(1), int64(10), object(1)
memory usage: 65.8+ KB

In [57]:
df = df.drop(['ID'], axis=1)

In [91]:
df_ = df.copy()

In [92]:
reason_columns = pd.get_dummies(df_['Reason for Absence'])

In [93]:
reason_columns.head(5)

   0   1   2   3   4   5   6   7   8   ...  19  21  22  23  24  25  26  27  28
0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   1   0   0
1   1   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0   0
2   0   0   0   0   0   0   0   0   0  ...   0   0   0   1   0   0   0   0   0
3   0   0   0   0   0   0   0   1   0  ...   0   0   0   0   0   0   0   0   0
4   0   0   0   0   0   0   0   0   0  ...   0   0   0   1   0   0   0   0   0

[5 rows x 28 columns]

In [94]:
reason_columns['check'] = reason_columns.sum(axis=1)

In [95]:
reason_columns = reason_columns.drop(['check'], axis=1)

In [96]:
reason_columns = pd.get_dummies(df_['Reason for Absence'], drop_first = True)

In [97]:
df_ = df_.drop(['Reason for Absence'], axis=1)

In [98]:
reason_1 = reason_columns.loc[:,1:14].max(axis=1)
reason_2 = reason_columns.loc[:,15:17].max(axis=1)
reason_3 = reason_columns.loc[:,18:21].max(axis=1)
reason_4 = reason_columns.loc[:,22:].max(axis=1)

In [99]:
df_ = pd.concat([df,reason_1,reason_2,reason_3,reason_4], axis=1)

In [100]:
df_.columns.values

array(['Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours', 0, 1, 2, 3], dtype=object)

In [101]:
df_ = df_.rename(columns={0:'reason_1', 1:'reason_2',2:'reason_3',3:'reason_4'})

In [102]:
column_resorted = ['reason_1', 'reason_2', 'reason_3',
       'reason_4','Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours']

In [103]:
df_ = df_[column_resorted]

In [104]:
df_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   reason_1                   700 non-null    uint8
 1   reason_2                   700 non-null    uint8
 2   reason_3                   700 non-null    uint8
 3   reason_4                   700 non-null    uint8
 4   Reason for Absence         700 non-null    int64
 5   Date                       700 non-null    object
 6   Transportation Expense     700 non-null    int64
 7   Distance to Work           700 non-null    int64
 8   Age                        700 non-null    int64
 9   Daily Work Load Average    700 non-null    float64
 10  Body Mass Index            700 non-null    int64
 11  Education                  700 non-null    int64
 12  Children                   700 non-null    int64
 13  Pets                       700 non-null    int64
 14  Absenteeism Time in Hours  700 non-null    int64
dtypes: float64(1), int64(9), object(1), uint8(4)
memory usage: 63.0+ KB

In [105]:
df_reason_mod = df_.copy()

In [112]:
df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'], format = '%d/%m/%Y')

In [115]:
df_reason_mod['Date'][0].month

7

In [132]:
list_month = []
for i in range(df_reason_mod['Date'].shape[0]):
  list_month.append(df_reason_mod['Date'][i].month)

In [142]:
df_reason_mod['Month Value'] = list_months

In [145]:
def day_of_week(date_value):
  return date_value.weekday()
df_reason_mod['Day of week'] = df_reason_mod['Date'].apply(day_of_week)

In [149]:
df_reason_mod = df_reason_mod.drop(['Date'], axis=1)

In [157]:
column_names_upd = ['reason_1', 'reason_2', 'reason_3', 'reason_4', 'Month Value', 'Day of week',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education', 'Children',
       'Pets', 'Absenteeism Time in Hours']

In [158]:
df_reason_mod = df_reason_mod[column_names_upd]

In [169]:
df_reason_date_mod = df_reason_mod.copy()

In [170]:
df_reason_date_mod['Education'].value_counts()

1    583
3     73
2     40
4      4
Name: Education, dtype: int64

In [171]:
df_reason_date_mod['Education'] = df_reason_date_mod['Education'].map({1:0,2:1,3:0,4:0})

0    660
1     40
Name: Education, dtype: int64

In [173]:
df_reason_date_mod['Education'].value_counts()

0    660
1     40
Name: Education, dtype: int64

In [172]:
df_preprocessed = df_reason_date_mod.copy()
df_preprocessed.head(10)

   reason_1  reason_2  reason_3  ...  Children  Pets  Absenteeism Time in Hours
0         0         0         0  ...         2     1                          4
1         0         0         0  ...         1     0                          0
2         0         0         0  ...         0     0                          2
3         1         0         0  ...         2     0                          4
4         0         0         0  ...         2     1                          2
5         0         0         0  ...         0     0                          2
6         0         0         0  ...         1     4                          8
7         0         0         0  ...         4     0                          4
8         0         0         1  ...         2     0                         40
9         0         0         0  ...         1     1                          8

[10 rows x 15 columns]